<%
    # The feedback email in the footer of the site
    feedback_email = "palaute@omaidea.fi"
    feedback_subject = "OmaIdea-palaute"
%>

<div class="mini-footer">
    <div class="footer-logo-div">
      <% if current_organization.official_img_footer? %>
        <%= link_to current_organization.official_url, class: "footer-logo" do %>
          <%= image_tag current_organization.official_img_footer.url.to_s , alt: current_organization.name %>
        <% end %>
      <% end %>
    </div>
  <div class="row">
    <div class="medium-6 large-6 column">
      <div class="footer-div footer-left">
        <a rel="license"
          href="http://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank" rel="noopener">
        </a>
        <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
      </div>
    </div>   
    <div class="medium-6 large-6 column">
      <div class="footer-div footer-right">
        <div class="mini-footer__copyright">
          <a href="mailto:<%= feedback_email %>?subject=<%= feedback_subject %>"><%= t("layouts.footer.feedback").html_safe %></a>
        </div>
      </div>
    </div>
  </div>
</div>
